<%- include("header") -%>

<h1> App For Current Weather</h1>
<form action="/" method="POST">
    <label for="City" class="poster">Enter City</label>
    <br>
    <input type="text" name="cityName" id="city" placeholder="Enter City Name...">
    <br>
    <button type="submit" class="enter">Search</button>
</form>
<%- include("footer") -%>